/* Universal Styles */
* {
  box-sizing: border-box;
}

html {                      /**ROOT FONT SIZE*/
    font-size: 16px;
}

body {
    background-color: white;
}

.background {                      /*!TWO CHILDREN SIDE BY SIDE WITH FLEX*/
    /*border: 4px solid purple;*/
    display: flex;
}


/*? --------------------NAV BAR ON THE LEFT SETTINGS START-----------------*/


.background-white {                
    /*border: 3px solid peru;*/
    height: 100%;
    padding: .5rem;
    position: fixed;
    box-shadow: 0 10px 10px #000000;
}

/*.navegation {
    /*border: 2px solid blue;
}*/

section div img {           /*LOGO SETTINGS*/
    /*border: 2px solid red;*/
    width: 7.5rem;
    height: 7.5rem;
}

.navegation p {
    /*border: 2px solid salmon;*/
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    margin: 0.3rem;
    padding: .8rem;
    border-radius: 3px;
    background-color: hsl(0, 0%, 95%);
}

.navegation p:hover {
    background-color: #006093;
    transition: .5s background-color;
    color: white;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .4);
}

.brand-container {
    /*border: 2px solid  black;*/
    height: 5rem;
    align-content:end;
}

.navegation .brand p {
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 0px;
}

.navegation .brand p:hover {
    background-color: #006093;
    transition: .5s background-color;
    color: white;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .4);
}

footer p {
    font-family: "Roboto";
    position: absolute;
    bottom: 3px;
    padding: .8rem 1.3rem .8rem 1.3rem;
    border-radius: 3px;
    text-align: center;
    justify-self: center;
    background-color: #006093;
    color: white;
}

/*? --------------------NAV BAR ON THE LEFT SETTINGS END-----------------*/

/*? --------------------CONTENT ON RIGHT SETTINGS START-----------------*/

.background-orange {
    /*border: 3px solid orangered;*/
    font-family: "Roboto";
    margin-left: 160px;
    width: 100%;
    height: 100%;
    margin-right: 12px;
}

/*?CONTACT FORM STARTS HERE*/

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, button, input {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 0.625rem;
}

.screen {
    position: relative;
    background: hsl(0, 0%, 95%);
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: .25rem;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 0.625rem 1.5rem;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 3.125rem;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #006093;
    font-size: 1.625rem;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.625rem;
    width: 1.5625rem;
    height: 0.25rem;
    background: #006093;
}

.app-contact {
    margin-top: auto;
    color: #006093;
    font-weight: 700;
    font-size: 0.5rem;
}

.app-form-group {
    margin-bottom: 0.9375rem;
}

.app-form-group.message {
    margin-top: 2.5rem;
}

.app-form-group.buttons {
    /*border: 2px solid red;*/
    display: flex;
    margin-bottom: 0;
    text-align: right;
    justify-content: space-between;
}

.app-form-control {
    width: 100%;
    padding: 0.625rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #006093;
    font-size: 0.875rem;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

.dribbble {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.3125rem;
}

/*? --------------------CONTENT ON RIGHT SETTINGS END-----------------*/

/*& -----------------PHONE CONTENT ON RIGHT SETTINGS START-------------*/

@media screen and (max-width: 520px) {
    section div img {           /*LOGO SETTINGS*/
    width: 5.5rem;
    height: 5.5rem;
    }

    .app-form-control {
        padding: 0.45rem 0;
    }

.navegation p {
    font-size: 1rem;
    margin: 0.2rem;
    padding: .5rem;
    }

    footer p {
    padding: .6rem .3rem .5rem .3rem;
    }

  .background-orange {
    margin-left: 119px;
    margin-right: 1px;
    }
  
  
    .screen-body {
    flex-direction: column;
    }

  .screen-body-item.left {
    margin-bottom: 1.875rem;
    }

  /*.app-title {
    }*/

  .app-title span {
    margin-right: 0.75rem;
    }

  .app-title:after {
    display: none;
    }

  .container {
    padding: 0.2rem;
  }
}



@media screen and (max-width: 600px) {
  .screen-body {
    padding: 1.5rem;
  }

    .screen-body-item {
    padding: 0;
  }
}


@media only screen and (max-height: 380px) and (orientation: landscape) {
    footer p {
        display: none;
    }

    .app-form-group.buttons {
        display: flex;
        
    }
}

/*& -----------------PHONE CONTENT ON RIGHT SETTINGS END-------------*/