
/* Universal Styles */
* {
  box-sizing: border-box;
}

html {                      /**ROOT FONT SIZE*/
    font-size: 16px;
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
}

.background {                      /*!TWO CHILDREN SIDE BY SIDE WITH FLEX*/
    /*border: 4px solid purple;*/
    display: flex;
    height: 100%;
}


/*? --------------------NAV BAR ON THE LEFT SETTINGS START-----------------*/


.background-white {                
    /*border: 3px solid peru;*/
    height: 100%;
    padding: .5rem;
    position: fixed;
    box-shadow: 0 10px 10px #000000;
}

/*.navegation {
    /*border: 2px solid blue;
}*/

section div img {           /*LOGO SETTINGS*/
    /*border: 2px solid red;*/
    width: 7.5rem;
    height: 7.5rem;
}

.navegation p {
    /*border: 2px solid salmon;*/
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin: 0.3rem;
    padding: .8rem;
    border-radius: 3px;
    background-color: hsl(0, 0%, 95%);
}

.navegation p:hover {
    background-color: #006093;
    transition: .5s background-color;
    color: white;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .4);
}

.brand-container {
    /*border: 2px solid  black;*/
    height: 5rem;
    align-content:end;
}

.navegation .brand p {
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 0px;
}

.navegation .brand p:hover {
    background-color: #006093;
    transition: .5s background-color;
    color: white;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .4);
}

footer p {
    font-family: "Roboto";
    position: absolute;
    bottom: 3px;
    padding: .8rem 1.3rem .8rem 1.3rem;
    border-radius: 3px;
    text-align: center;
    justify-self: center;
    background-color: #006093;
    color: white;
}

/*? --------------------NAV BAR ON THE LEFT SETTINGS END-----------------*/

/*? --------------------CONTENT ON RIGHT SETTINGS START-----------------*/

.background-orange {
    /*border: 3px solid orangered;*/
    font-family: "Roboto";
    margin-left: 160px;
    width: 100%;
    height: 100%;
    margin-right: 12px;
    
}

.background-orange .desktop h1 {
    /*border: 2px solid yellow;*/
    padding-top: 1rem;
    text-align: center;
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 700;
}

section .flex-content {
    /*border: 2px solid brown;*/
    padding-top: 4rem;
    text-align: center;
}


section .background-orange img {
    border: 5px solid hsl(0, 0%, 95%);
    height: 16rem;
    width: auto;
    margin: 0px 2rem 4rem 2rem;
    border-radius: 3px;
}

section .background-orange img:hover {
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .4);
}

section .flex-content-botton {
    /*border: 2px solid blue;*/
    text-align: center;

}

section .flex-content-botton img {
    /*border: 2px solid black;*/
    height: 20vw;
    min-height: 10rem;
    width: 30vw;
    min-width: 16rem;
    margin: 0px 2rem 4rem 2rem;
    padding: 0px;
} 

.background-orange .mobile h1 {
    display: none;
}

/*? --------------------CONTENT ON RIGHT SETTINGS END-----------------*/

/*& -----------------PHONE CONTENT ON RIGHT SETTINGS START-------------*/

@media only screen and (max-width: 750px) and (orientation: portrait)  {
    .background-orange .desktop h1 {
        font-size: 1rem;
        margin: 1rem 0rem 1rem 0rem;
        display: none;
    }

    .background-orange .mobile {
        /*border: 2px solid red;*/
        padding: 1rem;
        text-align: center;
    }

    .background-orange .mobile h1 {
        display: contents;
        font-size: 2rem;
        font-weight: 700;
    }

    section .background-orange img {
        height: 10rem;
        width: auto;
        margin: 0px 0rem 0rem 0rem;
        padding: 0px;
    }

    section .flex-content-botton {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    section .flex-content-botton img {
        min-height: 10rem;
        width: 15vw;
        min-width: 10rem;
        margin: 0px 0rem 0rem 0rem;
        padding: 0px;
    }

    .background-orange {
        margin-right: 0px;
        margin-left: 150px;
    }

    section .flex-content {
        padding: .3rem 0 0 0;
    }
}

@media only screen and (max-height: 380px) and (orientation: landscape) {
    footer p {
        display: none;
    }
}

/*& -----------------PHONE CONTENT ON RIGHT SETTINGS END-------------*/